<section class="w-1/2 mx-auto bg-gray-50 rounded border shadow p-4">
  <h1 class="text-center text-xl sm:text-2xl md:text-3xl lg:text-4xl text-green-500 my-2">
    {{ 'FORGOT_PASSWORD.TITLE' | translate }}
  </h1>

  @if (step == 1) {
    <form [formGroup]="verifyEmail" (ngSubmit)="verifyEmailSubmit()">
      <div class="my-2">
        <label for="email">
          {{ 'FORGOT_PASSWORD.STEP1.EMAIL_LABEL' | translate }}
        </label>
        <input formControlName="email" id="email" type="email" class="white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-400 focus:border-green-ring-green-400 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-400 dark:focus:border-green-ring-green-400" />

        @if (verifyEmail.get('email')?.errors && verifyEmail.get('email')?.touched) {


          <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          
            <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
  
            <div>
              <ul>
                @if (verifyEmail.get('email')?.getError('required')) {
                  <li>{{ 'FORGOT_PASSWORD.STEP1.EMAIL_REQUIRED' | translate }}</li>
                }
                @else if (verifyEmail.get('email')?.getError('email')) {
                  <li>{{ 'FORGOT_PASSWORD.STEP1.EMAIL_INVALID' | translate }}</li>
                }
              </ul>
            </div>
          </div>

        }
      </div>

      <button [disabled]="verifyEmail.invalid" class="btn-main w-full sm:w-auto">
        {{ 'FORGOT_PASSWORD.STEP1.VERIFY_BUTTON' | translate }}
        @if (isLoading) { <span class="ms-1"><i class="fas fa-spin fa-spinner"></i></span> }
      </button>
    </form>
  }

  @else if (step == 2) {
    <form [formGroup]="verifyCode" (ngSubmit)="verifyCodeSubmit()">
      <div class="my-2">
        <label for="verifyCode">
          {{ 'FORGOT_PASSWORD.STEP2.RESET_CODE_LABEL' | translate }}
        </label>
        <input formControlName="resetCode" id="verifyCode" type="text" class="white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-400 focus:border-green-ring-green-400 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-400 dark:focus:border-green-ring-green-400" />

        @if (verifyCode.get('verifyCode')?.errors && verifyCode.get('verifyCode')?.touched) {


          <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          
            <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
  
            <div>
              <ul>
                @if (verifyCode.get('verifyCode')?.getError('required')) {
                  <li>{{ 'FORGOT_PASSWORD.STEP2.CODE_REQUIRED' | translate }}</li>
                }
                @else if (verifyCode.get('verifyCode')?.getError('pattern')) {
                  <li>{{ 'FORGOT_PASSWORD.STEP2.CODE_INVALID' | translate }}</li>
                }
              </ul>
            </div>
          </div>


          
        }
      </div>

      <button [disabled]="verifyCode.invalid" class="btn-main w-full sm:w-auto">
        {{ 'FORGOT_PASSWORD.STEP2.VERIFY_BUTTON' | translate }}
        @if (isLoading) { <span class="ms-1"><i class="fas fa-spin fa-spinner"></i></span> }
      </button>
    </form>
  }

  @else if (step == 3) {
    <form [formGroup]="resetPassword" (ngSubmit)="resetPasswordSubmit()">
      <div class="mb-1">
        <label for="email">
          {{ 'FORGOT_PASSWORD.STEP3.EMAIL_LABEL' | translate }}
        </label>
        <input formControlName="email" readonly type="email" id="email" class="white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-400 focus:border-green-ring-green-400 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-400 dark:focus:border-green-ring-green-400" />

        @if (resetPassword.get('email')?.errors && resetPassword.get('email')?.touched) {


          <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          
            <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
  
            <div>
              <ul>
                @if (resetPassword.get('email')?.getError('required')) {
                  <li>{{ 'FORGOT_PASSWORD.STEP3.EMAIL_REQUIRED' | translate }}</li>
                }
                @else if (resetPassword.get('email')?.getError('email')) {
                  <li>{{ 'FORGOT_PASSWORD.STEP3.EMAIL_INVALID' | translate }}</li>
                }
              </ul>
            </div>
          </div>

          
        }
      </div>

      <div class="mb-1">
        <label for="newPassword">
          {{ 'FORGOT_PASSWORD.STEP3.PASSWORD_LABEL' | translate }}
        </label>
        <input formControlName="newPassword" type="password" id="newPassword" class="white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-400 focus:border-green-ring-green-400 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-400 dark:focus:border-green-ring-green-400" />

        @if (resetPassword.get('newPassword')?.errors && resetPassword.get('newPassword')?.touched) {

          <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          
            <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
  
            <div>
              <ul>
                @if (resetPassword.get('newPassword')?.getError('required')) {
                  <li>{{ 'FORGOT_PASSWORD.STEP3.PASSWORD_REQUIRED' | translate }}</li>
                }
                @else if (resetPassword.get('newPassword')?.getError('pattern')) {
                  <li>{{ 'FORGOT_PASSWORD.STEP3.PASSWORD_INVALID' | translate }}</li>
                }
              </ul>
            </div>
          </div>

        }
      </div>

      <button [disabled]="resetPassword.invalid" class="btn-main w-full sm:w-auto">
        {{ 'FORGOT_PASSWORD.STEP3.SUBMIT_BUTTON' | translate }}
        @if (isLoading) { <span class="ms-1"><i class="fas fa-spin fa-spinner"></i></span> }
      </button>
    </form>
  }
</section>
