.card button {
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.5s;
}

@media (min-width: 768px) {
    .card:hover button {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 767px) {
    .card button {
        transform: translateY(0);
        opacity: 1;
    }
}