<section class="main-section w-1/2 mx-auto">

  <h1 class="text-center text-green-600 text-3xl">
    {{ 'checkOut.TITLE' | translate }}
  </h1>

  <form [formGroup]="checkOutForm" (ngSubmit)="submitForm()">

    <!-- Details Field -->
    <div class="mb-1">
      @let detailsControl = checkOutForm.get('details');
      <label for="details" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        {{ 'checkOut.DETAILS' | translate }}
      </label>
      <textarea
        formControlName="details"
        id="details"
        [placeholder]="'checkOut.DETAILS_PLACEHOLDER' | translate"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      ></textarea>

      @if (detailsControl?.errors && detailsControl?.touched) {
        <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
          <ul class="mt-1.5 list-disc list-inside">
            @if (detailsControl?.getError('required')) {
              <li>{{ 'checkOut.DETAILS_REQUIRED' | translate }}</li>
            }
          </ul>
        </div>
      }
    </div>

    <!-- Phone Field -->
    <div class="mb-1">
      @let phoneControl = checkOutForm.get('phone');
      <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        {{ 'checkOut.PHONE' | translate }}
      </label>
      <input
        type="tel"
        formControlName="phone"
        id="phone"
        [placeholder]="'checkOut.PHONE_PLACEHOLDER' | translate"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />

      @if (phoneControl?.errors && phoneControl?.touched) {
        <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
          <ul class="mt-1.5 list-disc list-inside">
            @if (phoneControl?.getError('required')) {
              <li>{{ 'checkOut.PHONE_REQUIRED' | translate }}</li>
            }
            @else if (phoneControl?.getError('pattern')) {
              <li>{{ 'checkOut.PHONE_PATTERN' | translate }}</li>
            }
          </ul>
        </div>
      }
    </div>

    <!-- City Field -->
    <div class="mb-1">
      @let cityControl = checkOutForm.get('city');
      <label for="city" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        {{ 'checkOut.CITY' | translate }}
      </label>
      <input
        type="text"
        formControlName="city"
        id="city"
        [placeholder]="'checkOut.CITY_PLACEHOLDER' | translate"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />

      @if (cityControl?.errors && cityControl?.touched) {
        <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
          <ul class="mt-1.5 list-disc list-inside">
            @if (cityControl?.getError('required')) {
              <li>{{ 'checkOut.CITY_REQUIRED' | translate }}</li>
            }
          </ul>
        </div>
      }
    </div>

    <!-- Submit Button -->
    <button [disabled]="checkOutForm.invalid" class="btn-main my-2" type="submit">
      {{ 'checkOut.ONLINE_PAYMENT' | translate }}
      @if (isLoading) {
        <span class="ms-1"><i class="fas fa-spin fa-spinner"></i></span>
      }
    </button>
  </form>

</section>
